<div class="panel panel-success">
    <div class="panel-heading">修改密码</div>
    <div class="panel-body" ng-init="init()"><br>
        <form class="form-horizontal" name="changePwForm" role="form" ng-submit="updatePassword()">
            <div class="form-group">
                <label class="control-label col-sm-4 text-right">原密码</label>
                <div class="col-sm-4"
                     ng-class="{'has-error': (changePwForm.oldPassword.$invalid && changePwForm.oldPassword.$touched) || !password.correct}">
                    <input type="password"
                           class="form-control"
                           name="oldPassword"
                           required
                           ng-model="password.oldPassword"
                           ng-blur = "checkPassword()"
                           placeholder="请输入原密码">
                </div>
                <p class="error" ng-if="changePwForm.oldPassword.$error.required && changePwForm.oldPassword.$touched">
                    请输入原密码
                </p>
                <p class="error" ng-if="!password.correct && !changePwForm.oldPassword.$error.required">
                    {{password.msg}}
                </p>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 text-right">新密码</label>
                <div class="col-sm-4"
                     ng-class="{'has-error': changePwForm.password.$invalid && changePwForm.password.$touched}">
                    <input type="password"
                           class="form-control"
                           name="password"
                           ng-model="password.newPassword"
                           ng-minlength="6"
                           ng-maxlength="20"
                           required
                           placeholder="请输入新密码">
                </div>
                <p class="error" ng-if="changePwForm.password.$error.required && changePwForm.password.$touched">
                    请输入新密码
                </p>
                <p class="error" ng-if="changePwForm.password.$error.minlength || changePwForm.password.$error.maxlength">
                    新密码长度为6-20位哦
                </p>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 text-right">确认密码</label>
                <div class="col-sm-4"
                     ng-class="{'has-error': changePwForm.rePassword.$invalid && changePwForm.rePassword.$touched}">
                    <input type="password"
                           class="form-control"
                           name="rePassword"
                           required
                           ng-model="password.rePassword"
                           placeholder="请再次输入新密码">
                </div>
                <p class="error" ng-if="changePwForm.rePassword.$error.required && changePwForm.rePassword.$touched">
                    请输入确认密码
                </p>
                <p class="error" ng-show="password.rePassword !== password.newPassword && !changePwForm.rePassword.$error.required">
                  您输入的两次密码不一致，请重新输入
                </p>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" ng-disabled="changePwForm.$invalid || password.newPassword !== password.rePassword" class="btn btn-success changePwBtn">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
