<div id="left" class="col-md-2">
    <div class="panel-group" id="accordion">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#collapseOne" aria-controls="collapseOne">
                        用户管理
                    </a>
                </h4>
            </div>

            <div id="collapseOne" class="panel-collapse collapse in">
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item"><a ui-sref="admin.user.add">添加用户</a></li>
                    <li class="list-group-item"><a ui-sref="admin.user.list">查询用户</a></li>
                </ul>
            </div>
        </div>

        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#collapseTwo" aria-controls="collapseTwo">
                        文档管理
                    </a>
                </h4>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse in">
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">查询文档</li>
                    <li class="list-group-item">打印历史</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#collapseThree" aria-controls="collapseThree">
                        设置
                    </a>
                </h4>
            </div>

            <div id="collapseThree" class="panel-collapse collapse in">
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item"><a ui-sref="admin.settings.personalInfo">个人信息</a></li>
                    <li class="list-group-item"><a ui-sref="admin.settings.updatePassword">修改密码</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="right" class="col-md-10" ui-view>欢迎登陆</div>
