body {
    font-family: '微软雅黑', 'Times New Roman', Times, serif;
}

.navbar-default {
    background-color: white;
}

.container-fluid {
    margin: 0px auto;
}

.content {
    margin: 0px auto;
}

.navbar-default {
    background-color: white;
}

#footer {
    color : blue;
    clear: both;
    height : 50px;
    text-align: center;
}

.listLabel {
    width: 20%;
    height: 30px;
    margin: 10px 10px;
}


