<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>短链接系统</title>
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link rel="stylesheet" href="assets/lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/share.css">
    <script src="assets/lib/jquery/jquery-2.1.3.min.js"></script>

</head>

<body ng-app="app" ng-controller="mainController" ng-init="init()">

<div class="content">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 style="text-align: center">短链接</h1>
        <hr>
        <div class="panel panel-success">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label>请输入长网址:</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="http://"
                                   ng-model="longurl"/>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <button type="button" ng-click="short()" class="btn btn-primary">缩&nbsp;&nbsp;&nbsp;&nbsp;短
                        </button>
                    </div>
                </div>
                <div class="row">
                    <p>
                        <h3 class="text-center">
                            短链接:<a>http://upshi.cc/{{ code }}</a>
                        </h3>
                    </p>
                    <br>
                    <div class="text-center">
                        <div id="qrcode"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">&copy;2017 UPSHI</div>

<script src="assets/lib/bootstrap/bootstrap.js"></script>
<script src="assets/lib/jquery/jquery.base64.js"></script>
<script src="assets/lib/angular/angular.min.js"></script>
<script src="assets/lib/layer/layer.js"></script>
<script src="assets/lib/qrcode/qrcode.min.js"></script>
<script src="assets/js/index/app.js"></script>
<script src="assets/js/index/controller.js"></script>
<script src="assets/js/common/common.js"></script>

</body>
</html>